<section class="h-100">
  <header>
    <nav class="navbar navbar-light bg-dark py-2">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img width="120" src="./assets/img/develtio-white.png" alt="Develtio" />
        </a>
      </div>
    </nav>
  </header>

  <div class="base-panel">
    <router-outlet></router-outlet>
  </div>

  <footer class="p-4 bg-dark text-white footer">
    <div class="container">
      <div class="text-left">
        <div>Bohdan Masliannykov</div>
        <a class="text-white" href="mailto:bohdan.masliannykov@develtio.com">bohdan.masliannykov@develtio.com</a>
      </div>
    </div>
  </footer>
</section>
